.fondo {
    background-image: linear-gradient(to left, aqua, white);
    display: grid;
    justify-content: center;
    padding: 3%;

}

.contenedor {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.contenedor-titulo {
    background-image: linear-gradient(to right, orange, yellow);
    margin-top: 6px;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 10px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;

}

.contenedor-parrafo {
    background-color: bisque;
    margin-bottom: 10px;
    width: 220px;
    height: 40px;
   text-align: center;
   border-radius: 5px;
}
.parrafo{margin-top: 10px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 12px;
         font-weight: bold;

}

.jesus{ width: 220px;
    margin-bottom: 15px;
    border: 1px solid black;

}

.boton{ background-color: rgb(236, 224, 109);
        padding: 10%;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        border: none;
    

}
